tp_1/evento_pesca
tp_1/entrega/
tp_2/entrega/
tp_2/*.exe
tp_2/test/*.exe
tp_2/tp_2.code-workspace
tp_1/txt/
tda_list/entrega/
tda_list/lista_se
tda_list/entrega/
tda_abb/entrega/
tda_abb/abb
tda_abb/abb_mini
grafos/.idea/
tda_hash/test.exe
tda_hash/mini_test.exe
.vscode
