[submodule "tda_hash/--force"]
	path = tda_hash/--force
	url = https://github.com/tin-gprieto/toolbox
[submodule "tda_hash/toolbox"]
	path = tda_hash/toolbox
	url = https://github.com/tin-gprieto/toolbox
